In [2]:
import pandas as pd
import numpy as np

In [3]:
BMJ_data_all__b_new = pd.read_csv('../input/BMJ-data-all--b-new.csv', sep='\t')
item_profiles1 = pd.read_csv('../input/item-profiles1.csv', sep=';')
item_profiles2 = pd.read_csv('../input/item-profiles2.csv', sep=';')
item_profiles3 = pd.read_csv('../input/item-profiles3.csv', sep=';')
ratings = pd.read_csv('../input/user-item-rating.csv', sep='\t', names=['user_id','item_id','rating'])

In [26]:
ratings[]

<bound method NDFrame.head of       Recipe ID                                           Category  \
0          1939          Home  >  Recipes  >  Main Dish  >  Roasts
1           771  Home  >  Recipes  >  Main Dish  >  Stuffed Mai...
2          3783  Home  >  Recipes  >  Main Dish  >  Steaks and ...
3           205  Home  >  Recipes  >  Main Dish  >  Burgers  > ...
4          1136  Home  >  Recipes  >  Meat and Poultry  >  Chic...
...         ...                                                ...
1026        863           Home  >  Recipes  >  Main Dish  >  Pasta
1027        168          Home  >  Recipes  >  Main Dish  >  Roasts
1028       1847  Home  >  Recipes  >  Main Dish  >  Steaks and ...
1029         67           Home  >  Recipes  >  Main Dish  >  Pasta
1030        462  Home  >  Recipes  >  Main Dish  >  Seafood  > ...

                                             Directions
0     In a medium bowl, stir together the cranberry ...
1     On large plate, combine 1 tablespoon flour, sa...
2     In a blender, combine the soy sauce, honey, vi...
3     Preheat grill for high heat.<br>In a large bow...
4     Season both sides of chicken breasts with garl...
...                                                 ...
1026  In a large saute pan, heat oil, butter and gar...
1027  Cut up potatoes, onions, and celery in to fair...
1028  Preheat grill for high heat.<br>Use a fork to ...
1029  Bring a large pot of lightly salted water to a...
1030  Preheat oven to 400 degrees F (200 degrees C)....

[1031 rows x 3 columns]>

In [5]:
item_profiles1.head

<bound method NDFrame.head of       Recipe ID                                           Category  \
0          1939          Home  >  Recipes  >  Main Dish  >  Roasts
1           771  Home  >  Recipes  >  Main Dish  >  Stuffed Mai...
2          3783  Home  >  Recipes  >  Main Dish  >  Steaks and ...
3           205  Home  >  Recipes  >  Main Dish  >  Burgers  > ...
4          1136  Home  >  Recipes  >  Meat and Poultry  >  Chic...
...         ...                                                ...
1026        863           Home  >  Recipes  >  Main Dish  >  Pasta
1027        168          Home  >  Recipes  >  Main Dish  >  Roasts
1028       1847  Home  >  Recipes  >  Main Dish  >  Steaks and ...
1029         67           Home  >  Recipes  >  Main Dish  >  Pasta
1030        462  Home  >  Recipes  >  Main Dish  >  Seafood  > ...

                                             Directions
0     In a medium bowl, stir together the cranberry ...
1     On large plate, combine 1 tablespoon flour, sa...
2     In a blender, combine the soy sauce, honey, vi...
3     Preheat grill for high heat.<br>In a large bow...
4     Season both sides of chicken breasts with garl...
...                                                 ...
1026  In a large saute pan, heat oil, butter and gar...
1027  Cut up potatoes, onions, and celery in to fair...
1028  Preheat grill for high heat.<br>Use a fork to ...
1029  Bring a large pot of lightly salted water to a...
1030  Preheat oven to 400 degrees F (200 degrees C)....

[1031 rows x 3 columns]>

In [6]:
item_profiles2.head

<bound method NDFrame.head of       Recipe ID                                      Name  Fiber (g)  \
0          2622  Slow Cooker Tender and Yummy Round Steak        4.5
1           722                        Chicken Pot Pie II        6.2
2          1137                          Chicken in a Pot        1.0
3          2502                 Erin's Indonesian Chicken        6.4
4          2714                              Bubble Pizza        3.0
...         ...                                       ...        ...
1026       1353                          Beef and Biscuit        0.9
1027        987                       Creamy Pesto Shrimp        2.7
1028       2903                            Boiled Chicken        1.2
1029       2136           Mushroom Sauce Baked Pork Chops        2.5
1030       3938                  Three Cheese Baked Pasta        5.2

      Sodium (g)  Carbohydrates (g)  Fat (g)  Protein (g)  Sugar (g)  \
0           0.83               33.1     13.6         33.8        5.0
1           1.06               47.8     29.5         51.4        6.4
2           0.40                6.9      6.6         28.7        1.8
3           0.32               58.1     18.6         35.4        7.8
4           1.96               45.4     36.4         28.5        8.7
...          ...                ...      ...          ...        ...
1026        0.63               15.5     18.9         18.4        3.7
1027        0.44               43.0     42.5         23.1        0.2
1028        0.06                4.5     11.1         16.3        1.9
1029        1.11               28.1     14.3         19.0        6.5
1030        0.88               42.3     22.2         22.7       12.7

      Saturated Fat (g)  Size (g)  Servings  Calories (kCal)  Average Rating  \
0                   4.6   2599.35       6.0            393.0            4.32
1                  11.4   2137.86       4.0            666.0            4.66
2                   1.4    819.37       4.0            206.0            4.29
3                   3.8   1972.13       4.0            530.0            4.39
4                  13.4   2375.00       8.0            624.0            4.35
...                 ...       ...       ...              ...             ...
1026                8.6   1536.45      10.0            306.0            3.99
1027               24.3   1655.88       8.0            646.0            4.58
1028                3.0   1780.00       8.0            186.0            4.70
1029                6.1   2241.75       6.0            316.0            4.45
1030               11.1   3368.20      12.0            463.0            4.57

      Average Sentiment  Number of Ratings  Number of Bookmarks  \
0                  1.79                 81                 2271
1                  2.02                116                 1200
2                  1.98                 83                 1779
3                  1.99                 80                  872
4                  1.96                117                 2204
...                 ...                ...                  ...
1026               1.52                 79                  811
1027               1.98                225                 3134
1028               1.20                 74                 1083
1029               1.86                121                 1188
1030               1.76                 82                 1917

      Year of Publishing
0                   2000
1                   2000
2                   2001
3                   2005
4                   2001
...                  ...
1026                2001
1027                2000
1028                2001
1029                2001
1030                2000

[1031 rows x 17 columns]>

In [7]:
item_profiles3.head

<bound method NDFrame.head of       Recipe ID  Ingredient ID   Amount (g)          Quantity  \
0          1939           5045   448.000000  1 (16 ounce) can
1          1939           6350    83.200000           1/3 cup
2          1939           4397   110.000000                 1
3          1939           4181  1365.000000       1 (3 pound)
4           771           1684    15.625000     2 tablespoons
...         ...            ...          ...               ...
9351        462          16396     2.776667        1 teaspoon
9352        462          16404     1.140417      1/2 teaspoon
9353        462          16405     0.229449      1/2 teaspoon
9354        462           4342     9.000000          3 cloves
9355        462          16238    20.000000           1/4 cup

                      Ingredient
0                cranberry sauce
1          French salad dressing
2                  onion, sliced
3       boneless pork loin roast
4     all-purpose flour, divided
...                          ...
9351               garlic powder
9352                     paprika
9353               dried parsley
9354              garlic, minced
9355      grated Parmesan cheese

[9356 rows x 5 columns]>

In [25]:
BMJ_data_all__b_new.shape

(58263, 17)

In [9]:
#Import the train_test_split function
from sklearn.model_selection import train_test_split

#Assign X as the original ratings dataframe and y as the user_id column of ratings.
X = ratings.copy()
y = ratings['user_id']

#Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, stratify=y, random_state=42)

In [10]:
#Import the mean_squared_error function
from sklearn.metrics import mean_squared_error

#Function that computes the root mean squared error (or RMSE)
def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

In [11]:
#Function to compute the RMSE score obtained on the testing set by a model
def score(cf_model):
    
    #Construct a list of user-movie tuples from the testing dataset
    id_pairs = zip(X_test['user_id'], X_test['item_id'])
    
    #Predict the rating for every user-movie tuple
    y_pred = np.array([cf_model(user, item) for (user, item) in id_pairs])
    
    #Extract the actual ratings given by the users in the test data
    y_true = np.array(X_test['rating'])
    
    #Return the final RMSE score
    return rmse(y_true, y_pred)

In [12]:
#Define the baseline model to always return 3.
def baseline(user_id, item_id):
    return 3.0

In [13]:
score(baseline)

1.6191040450231147

In [14]:
#Build the ratings matrix using pivot_table function
r_matrix = X_train.pivot_table(values='rating', index='user_id', columns='item_id')

r_matrix.head()

item_id,4,5,17,19,22,23,28,30,31,34,...,9098,9319,9661,9757,11194,11572,11895,13339,14078,15746
user_id,,,,,,,,,,,,,,,,,,,,,
455,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#User Based Collaborative Filter using Mean Ratings
def cf_user_mean(user_id, item_id):
    
    #Check if item_id exists in r_matrix
    if item_id in r_matrix:
        #Compute the mean of all the ratings given to the movie
        mean_rating = r_matrix[item_id].mean()
    
    else:
        #Default to a rating of 3.0 in the absence of any information
        mean_rating = 3.0
    
    return mean_rating

In [16]:
#Compute RMSE for the Mean model
score(cf_user_mean)

0.8063760052885885

In [17]:
#Create a dummy ratings matrix with all null values imputed to 0
r_matrix_dummy = r_matrix.copy().fillna(0)

In [18]:
# Import cosine_score 
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)

In [19]:
#Convert into pandas dataframe 
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index, columns=r_matrix.index)

cosine_sim.head(10)

user_id,455,559,833,1155,1299,1381,1537,1646,1873,2020,...,84374,84543,84570,84572,84583,84767,84778,84780,84790,84839
user_id,,,,,,,,,,,,,,,,,,,,,
455,1.000000,0.008569,0.066906,0.000000,0.238620,0.031098,0.106433,0.000000,0.000000,0.085897,...,0.000000,0.035244,0.054074,0.098218,0.049604,0.000000,0.130223,0.099014,0.032229,0.021552
559,0.008569,1.000000,0.015303,0.000000,0.016893,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.052397,0.080390,0.099148,0.000000,0.000000,0.000000,0.000000,0.047914,0.021360
833,0.066906,0.015303,1.000000,0.138600,0.165588,0.000000,0.030412,0.094756,0.094720,0.185697,...,0.067479,0.115814,0.030902,0.099613,0.120478,0.023367,0.000000,0.075344,0.115115,0.145744
1155,0.000000,0.000000,0.138600,1.000000,0.058287,0.057825,0.054596,0.000000,0.038646,0.000000,...,0.000000,0.056045,0.000000,0.000000,0.000000,0.125845,0.051384,0.041405,0.024799,0.149245
1299,0.238620,0.016893,0.165588,0.058287,1.000000,0.029428,0.050359,0.000000,0.000000,0.089128,...,0.026486,0.000000,0.000000,0.047811,0.000000,0.068787,0.000000,0.000000,0.071163,0.036257
1381,0.031098,0.000000,0.000000,0.057825,0.029428,1.000000,0.045940,0.000000,0.054198,0.036588,...,0.045304,0.030426,0.035010,0.019627,0.000000,0.000000,0.032428,0.000000,0.062601,0.000000
1537,0.106433,0.000000,0.030412,0.054596,0.050359,0.045940,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.058624,0.080539,0.121345,0.000000,0.087606,0.033961
1646,0.000000,0.000000,0.094756,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.051222,...,0.000000,0.049915,0.076582,0.000000,0.070252,0.000000,0.000000,0.012194,0.000000,0.000000
1873,0.000000,0.000000,0.094720,0.038646,0.000000,0.054198,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.045236,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020,0.085897,0.000000,0.185697,0.000000,0.089128,0.036588,0.000000,0.051222,0.000000,1.000000,...,0.052689,0.044232,0.000000,0.047556,0.077817,0.054736,0.000000,0.000000,0.000000,0.157778

In [20]:
#User Based Collaborative Filter using Weighted Mean Ratings
def cf_user_wmean(user_id, item_id):
    
    #Check if item_id exists in r_matrix
    if item_id in r_matrix:
        
        #Get the similarity scores for the user in question with every other user
        sim_scores = cosine_sim[user_id]
        
        #Get the user ratings for the movie in question
        m_ratings = r_matrix[item_id]
        
        #Extract the indices containing NaN in the m_ratings series
        idx = m_ratings[m_ratings.isnull()].index
        
        #Drop the NaN values from the m_ratings Series
        m_ratings = m_ratings.dropna()
        
        #Drop the corresponding cosine scores from the sim_scores series
        sim_scores = sim_scores.drop(idx)
        
        #Compute the final weighted mean
        wmean_rating = np.dot(sim_scores, m_ratings)/ sim_scores.sum()
    
    else:
        #Default to a rating of 3.0 in the absence of any information
        wmean_rating = 3.0
    
    return wmean_rating

In [21]:
#compute the RMSE score for this model
score(cf_user_wmean)

0.8127061141239906

In [22]:
#Import the required classes and methods from the surprise library
from surprise import Reader, Dataset, KNNBasic
from surprise.model_selection import cross_validate

#Define a Reader object
#The Reader object helps in parsing the file or dataframe containing ratings
reader = Reader()

#Create the dataset to be used for building the filter
data = Dataset.load_from_df(ratings, reader)

#Define the algorithm object; in this case kNN
knn = KNNBasic()

#Evaluate the performance in terms of RMSE
cross_validate(knn, data, measures=['RMSE'])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

{'test_rmse': array([0.82479569, 0.7995325 , 0.80821016, 0.81132987, 0.81582253]),
 'fit_time': (0.12567949295043945,
  0.13862919807434082,
  0.12868356704711914,
  0.12765026092529297,
  0.1356046199798584),
 'test_time': (0.7898657321929932,
  0.8019495010375977,
  0.7460055351257324,
  0.7918882369995117,
  0.7831976413726807)}

In [23]:
#Import SVD
from surprise import SVD

#Define the SVD algorithm object
svd = SVD()

#Evaluate the performance in terms of RMSE
cross_validate(svd, data, measures=['RMSE'])

{'test_rmse': array([0.76233811, 0.78100103, 0.78477478, 0.75973786, 0.77531613]),
 'fit_time': (1.7772765159606934,
  1.786217451095581,
  1.7600138187408447,
  1.7692596912384033,
  1.758289098739624),
 'test_time': (0.055852413177490234,
  0.05784749984741211,
  0.056880950927734375,
  0.05685710906982422,
  0.055850982666015625)}

In [ ]:
def healthiness(itemsDataframe):
    
    fat = ((itemsDataframe['Fat (g)'] * 9) / itemsDataframe['Calories (kCal)']) * 100
    sugar = ((itemsDataframe['Sugar (g)'] * 4) / itemsDataframe['Calories (kCal)']) * 100
    saturatedFat = ((itemsDataframe['Saturated Fat (g)'] * 9) / itemsDataframe['Calories (kCal)']) * 100
    
    itemsDataframe['Unhealtiness'] = fat + sugar + saturatedFat
    
    itemsDataframe.loc[fat > 30, 'fatPoints'] = 0
    itemsDataframe.loc[fat <= 30, 'fatPoints'] = 1 
    itemsDataframe.loc[fat <= 15, 'fatPoints'] = 2
    itemsDataframe.loc[fat <= 3, 'fatPoints'] = 3 

    itemsDataframe.loc[saturatedFat > 10, 'satFatPoints'] = 0
    itemsDataframe.loc[saturatedFat <= 10, 'satFatPoints'] = 1 
    itemsDataframe.loc[saturatedFat <= 5, 'satFatPoints'] = 2
    itemsDataframe.loc[saturatedFat <= 1, 'satFatPoints'] = 3 

        
    itemsDataframe.loc[sugar > 10, 'sugarPoints'] = 0
    itemsDataframe.loc[sugar <= 10, 'sugarPoints'] = 1 
    itemsDataframe.loc[sugar <= 5, 'sugarPoints'] = 2
    itemsDataframe.loc[sugar <= 1, 'sugarPoints'] = 3 
        
       
    itemsDataframe['Healtiness'] = itemsDataframe['fatPoints'] + itemsDataframe['satFatPoints'] + itemsDataframe['sugarPoints']

In [ ]:
healthiness(BMJ_data_all__b_new)
healthiness(item_profiles2)

In [ ]:
BMJ_data_all__b_new.head

In [ ]:
item_profiles2.head